# Music Domain
/Music/data/maestro-v1.0.0
/Music/log
/Music/pth

# DNA Domain

/DNA/data
/DNA/Hilbert-CNN/
/DNA/pth
/DNA/log
# Protein Domain

/Protein/data
/Protein/preprocess_input
/Protein/log
/Protein/pth